#journey{
	margin: 0px;
	padding: 0px;
	height: -100vh;
}

.container{
		width: 100%;
		display: flex;
		justify-content: space-between;
}

.resims img { 
  	width: 600px; 
	}


.resims {display: inline-block;}