{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hayal İşleri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% static 'layout/css/stylesheet.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'layout/img/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta name="Description" content="Hayal İşleri, yurt dışı, turizm, hayallerinizi gerçekleştirin">
    <meta name="Keywords" content="turizm, hayal, flights, cheap, flights">
    <script src="https://kit.fontawesome.com/3b61ca7ff3.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header -->
    <span id="span">Welcome❤️&nbsp;{{ user.get_full_name|title }}</span>
    <marquee scrollamount="6">Hayalisleri.com has been in service from 1 February.&nbsp;🎊&nbsp;🥳&nbsp;🎉&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Hayalisleri.com 1 Şubat'tan itibaren hizmettedir.&nbsp;🎊&nbsp;🥳&nbsp;🎉
    </marquee>

    <img src="{% static 'layout/img/output-onlinegiftools (1).gif' %}"
        style="width: 130px; position: absolute; left:200px; top:-10px;">
    <img style="width:100px; top:24px; position:absolute; left:165px;"
        src="{% static 'layout/img/party-popper_1f389.gif' %}">

    <header class="upper">
        <h1>
            <a href="{% url 'home' %}"><img rel="icon" src="{% static 'layout/img/icon.png' %}" alt="logo"></a>
            <p>&nbsp; Templated by Hayal</p>
        </h1>

        <nav>
            <ul id="dis">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="blog.html">Journey Blogs</a>
                    <ul id="ic">
                        <li><a href="{% url 'blog_by_category' 'domestic' %}">Domestic</a></li><br>
                        <li><a href="{% url 'blog_by_category' 'abroad' %}">Abroad</a></li><br>
                    </ul>
                </li>
                <li><a href="##"><i class="fa-solid fa-user"></i></a>
                    <ul id="login">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" class="nav-link">Logout&nbsp;<i
                                    class="fa-solid fa-arrow-right-from-bracket"></i></a></li><br>
                        {% else %}
                        <li><a href="{% url 'login' %}" class="nav-link">Login&nbsp;<i
                                    class="fa-solid fa-right-to-bracket"></i></a></li><br>
                        <li><a href="{% url 'register' %}" class="nav-link">Register</a></li><br>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <section id="banner">
        <h2>Who are we ?</h2>
        <p>Simply, we are dreamers, and supporters back to others <br> who want to put their hearts on a road where
            dreams do not remain a dream, they will be realized.<br><span
                style="font-size:18px; font-family: 'Montserrat', sans-serif;">&nbsp; &nbsp; Basitçe biz hayallerin
                hayal olarak kalmayacağı gerçekleşeceği bir yola <br> gönül veren ve gönül vermek isteyenlerin
                destekçisiyiz.</span><br></p>
        <a href="https://www.instagram.com/hayal_islerii/"><b
                style="font-family:'Montserrat', sans-serif; font-weight: 900;">LET'S REALIZE THEM</b></a>
    </section>

    <section class="upper1">
        <div class="container">
            <div class="left">
                <h2>We...</h2>
                <p>&nbsp;...are a community that includes travelers, amateur photographers, publishers, editors, content
                    creators, and programmers.<br><br>
                    <strong><b>&nbsp;But above all,</b></strong><span style="background: darkorange;">we are all
                        dreamers who chase our own dreams.</span>
                </p>
            </div>
            <div class="right">
                <article><span style="font-family: 'Montserrat', sans-serif; font-size:20px;"> &nbsp; Our general
                        purpose in establishing <b><i>hayalisleri.com</i></b> is to help people who cannot afford or
                        want to travel low-costly.</span><br><br>
                    <p style="font-size:16px; font-family: 'Montserrat', sans-serif;"><b><i>&nbsp;
                                Hayalisleri.com</i></b>'u kurmaktaki <span
                            style="background: #CDFF00; font-family: 'Montserrat', sans-serif;">genel amacımız, bütçesi
                            olmayan veya ucuza seyahat etmek isteyen kişilere yardımcı olmaktır.</span>
                    </p>
                </article>
            </div>

            <div class="middle">
                <article>
                    <p style="font-size:20px; font-family: 'Montserrat', sans-serif;">&nbsp; You will be encouraged
                        to<br> travel with <span style="text-decoration: underline;">attractive travel videos,
                            interesting and beneficial travel tricks, clues, blogs, and flight deals.</span></p>
                    <span style="font-size:16px; font-family: 'Montserrat', sans-serif;">&nbsp;<span
                            style="text-decoration: underline; font-family: 'Montserrat', sans-serif;">Çekici seyahat
                            videoları, ilginç ve faydalı seyahat tüyoları, ipuçları, bloglar ve uçuş fırsatları</span>
                        ile seyahat etmeye teşvik edileceksiniz.</span>
                </article>
            </div>
            <div class="bottom">
                <article>
                    <p style="font-family: 'Montserrat', sans-serif; font-size:20px;"> &nbsp;Finally, there will be
                        <mark style="background: #3BFF00;">no obstacle to travel</mark> thanks to <i
                            style="font-size:20px; font-family: 'Montserrat', sans-serif;">Hayal İşleri</i><br>against
                        you who travel-lover but lack courage and do not have a lot of money for travel.<br><br>
                        <span style="font-size:16px; font-family: 'Montserrat', sans-serif;">&nbsp;Sonunda; gezmeyi
                            seven ama cesareti olmayan, gezmek için fazla parası olmayan sizlere karşı <i
                                style="font-size:16px; font-family: 'Montserrat', sans-serif;">Hayal İşleri</i>
                            sayesinde <span
                                style="background: #3BFF00; font-size:16px; font-family: 'Montserrat', sans-serif;">seyahat
                                etmenin önünde hiçbir engel kalmayacak.</span>
                        </span>
                    </p>
                </article>
            </div>
        </div>
    </section>
    <div class="clean"></div>

    <section id="bolum3">
        <h2>Photography by Hayal</h2>
        <p>We are working on getting your attention to trip the world with remarkable photos 📸
        <p style="font-size:16px; font-family: 'Montserrat', sans-serif;">Olağanüstü fotoğraflarla dünyayı gezmeniz için
            dikkatinizi çekmeye çalışıyoruz.</p>
        </p>
        <div class="kapsayici2">
            <div class="resim" id="resim1"><img src="{% static 'layout/img/IMG20211113072014.jpg' %}"
                    alt="Bosphorus Bridge in Ortaköy Mosque">
                <p style="font-size:16px; font-family: 'Montserrat', sans-serif;">Bosphorus Bridge in Ortaköy Mosque /
                    İstanbul</p>
            </div>
            <div class="resim" id="resim2"><img src="{% static 'layout/img/20221010_155517.jpg' %}"
                    alt="The Eiffel Tower">
                <p style="font-size:16px; font-family: 'Montserrat', sans-serif;">The Eiffel Tower / Paris</p>
            </div>
        </div>
        <div class="clean"></div>
        <div class="a"></div>
        <ul>
            <ul>
                <li><a href="{% url 'blog_by_category' 'domestic' %}">Domestic Blogs</a></li>
                <li><a href="{% url 'blog_by_category' 'abroad' %}">Abroad Blogs</a></li>
            </ul>
    </section>

    <div class="clean"></div>
    <section id="bolum4">
        <h2 class="h2">Trip Blogs by Hayal</h2>
        <p style="font-size: 20px;">Also, with interesting and beneficial trip blogs📓<br><span
                style="font-size:16px; font-family: 'Montserrat', sans-serif; text-decoration: none;">&nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; Ayrıca ilginç ve faydalı gezi blogları ile...</span></p>
        <div class="container4">
            <div class="ic" style="border: 2px dashed aliceblue;">
                <div class="image"><img src="{% static 'layout/img/eiffel.jpg' %}" alt="The Eiffel Tower"></div>
                <div class="article">
                    <h3>The Eiffel Tower</h3>
                    <p>&nbsp;Paris / France</p>
                    <p style="position: relative; top: -20px; height: 100px;">&nbsp; Kule 300 m uzunluğunla olmakla
                        birlikte çelik yerine demirler perçinlenerek inşa edilmiştir. Tour eiffel'e <span>ulaşım M6
                            metrosuyla Bir-Hakeim istasyonundan inilerek ulaşılabilir.</span>Biletler online olarak veya
                        orada alınabilir. 2. kat ve zirve olarak iki kata çıkılabilir. . .</p>
                </div>
            </div>

            <div class="ic" style="border: 2px dashed aliceblue;">
                <div class="image"><img src="{% static 'layout/img/louvre.jpg' %}" alt="The Louvre Museum"></div>
                <div class="article">
                    <h3>The Louvre Museum</h3>
                    <p>Paris / France</p>
                    <p style="position: relative; top: -20px; text-align: left;">&nbsp; <span>Dünyanın en büyük sanat
                            müzesi niteliğine sahip olan Louvre müzesi</span>
                        , sadece içerisindekilerle değil tarihi yapısı ile müze binası göz kamaştırıyor. Giriş ücretleri
                        <span style="background: darkorange;">online €17, müzeden alınırsa €15'dur</span>. . .
                    </p>
                </div>
            </div>
            <div class="ic" style="border: 2px dashed aliceblue;">
                <div class="image"><img style="height: 161px; width: 120px;"
                        src="{% static 'layout/img/ayasofya.jpg' %}" alt="The Hagia Sophia"></div>
                <div class="article">
                    <h3>The Hagia Sophia</h3>
                    <p>&nbsp;İstanbul / Türkiye</p>
                    <p style="position: relative; top: -20px;">&nbsp; Günümüzdeki 3. Ayasofya olarak bilinen Ayasofya,
                        İstanbul'un Fatih semtindedir. <span>1934-2020 yılları arasında müze statüsü, 2020 yılında iptal
                            edilip camii statüsü verilmiştir.</span> İhtişamıyla İstanbul'un göz bebeği olan Camii'ye,
                        T1 tramvayı Sultanahmet istasyonundan yürüyerek ulaşılabilir. . .</p>
                </div>
            </div>
            <div class="ic" style="border: 2px dashed aliceblue;">
                <div class="image"><img src="{% static 'layout/img/the.jpg' %}" alt="The Broken Chair"></div>
                <div class="article">
                    <h3>The Broken Chair</h3>
                    <p>Geneva / Switzerland</p>
                    <p style="position: relative; top: -20px; text-align: left;">&nbsp; Cenevre'deki Milletler
                        Sarayı'nın karşısında duran ve ayağı kırık dev bir sandalyeyi tasvir ediyor.<span>Kara
                            mayınlarına ve parça tesirli bombalara karşı muhalefeti sembolize ediyor</span> ve
                        Cenevre'yi ziyaret eden politikacılar ve diplomatlar için bir hatırlatma işlevi görüyor. . .
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="clean"></div>
    <section id="bolum6">
        <div>
            <h2>Flight Deals by Hayal ✈️</h2>
            <p>As we said above, also we inform you about flight deals.<br>
                At the moment, We post flight deals on Instagram pages. Because of that, do not forget to follow us
                ❤️.<br><span style="font-size:16px; font-family: 'Montserrat', sans-serif;">
                    Yukarıda da söylediğimiz gibi sizleri uçuş fırsatları hakkında da bilgilendiriyoruz. Şu anda
                    Instagram sayfalarında uçuş fırsatlarını yayınlıyoruz. Bu yüzden bizi takip etmeyi unutmayın.</span>
            </p><img src="{% static 'layout/img/deals.jpg' %}" alt="Hayal İşleri Flight Deals"><small>Hayal İşleri
                instagram sayfası<br> reels görüntüsüdür.</small>
            <p>We are working on API page about flight deals 🚧. It is coming soon 👀.<br><span
                    style="font-size:16px; font-family: 'Montserrat', sans-serif;">
                    Uçuş fırsatları hakkında API sayfası üzerinde çalışıyoruz. Çok yakında geliyor.</span></p>
        </div>
    </section>

    <section id="bolum5">
        <div class="icerik" style="color: black;">
            <b style="font-family:'Montserrat', sans-serif;">
                <h2 style="font-family:'Montserrat', sans-serif;">HAYAL İŞLERİ is ready for collaborations !<br><span
                        style="font-size:22px; font-family:'Montserrat', sans-serif;">
                        HAYAL İŞLERİ İŞ BİRLİKLERİ İÇİN HAZIR !</span></h2>
            </b>
            <p style="font-family:'Montserrat', sans-serif; ">Please, get in touch on <strong>mail or DM </strong>for
                collaborations.<br>
                <span style="font-family:'Montserrat', sans-serif; font-size: 18px;">LÜTFEN, İŞ BİRLİKLERİ İÇİN<b> DM ya
                        da maIl </b>yoluyla İletİŞİme geÇİn.</span>
            </p>
            <a href="mailto:hayalisleri34@gmail.com" target="_blank">GET IN TOUCH</a>
        </div>

    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="footer">
            <div class="social">
                <a href="https://www.instagram.com/hayal_islerii/" target="_blank" title="Instagram"></a>
                <a href="https://www.tiktok.com/@hayal_isleri" title="TikTok" target="_blank"></a>
                <a href="https://twitter.com/hayal_isleri" title="Twitter" target="_blank"></a>
                <a href="https://twitter.com/hayal_isleri" title="Linkedin" target="_blank"></a>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Hayal İşleri&nbsp;</a></li>
                <li>
                    <p>&nbsp;Templated by Hayal&nbsp;&nbsp;</p>
                </li>
                <li><a href="mailto:hayalisleri34@gmail.com" target="_blank">Contact Us</a></li>
            </ul>
            <div class="copyright"> <small>&copy; Copyright 2023, Hayal İşleri Design </small> </div>
        </div>
    </footer>
</body>

</html>